<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.

-->

<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/ht-organizer-ws.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/ht-organizer-ws.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="PERF" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>${catalina.base}/logs/ytimedemo.performance.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
            <!--<fileNamePattern>${catalina.base}/logs/ytimedemo.performance.%d{yyyy-MM-dd}.log.gz</fileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    
    <!-- 
    <logger name="org.apache.commons.httpclient" level="DEBUG"/>
    <logger name="httpclient.wire" level="DEBUG"/>
    <logger name="edu.wisc" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="edu.byu" level="DEBUG"/>
    -->

    <!--<logger name="edu.wisc.logging.perf" level="TRACE" additivity="false">-->
        <!--<appender-ref ref="PERF" />-->
    <!--</logger>-->
   
    <root level="INFO">
        <appender-ref ref="R" />
    </root>

    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="R" />-->
    <!--</root>-->

    <!--<logger name="edu.byu.ytime" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="R" />-->
    <!--</logger>-->

    <logger name="edu.ldr.ht.timereporting" level="DEBUG" additivity="false">
        <appender-ref ref="R" />
    </logger>

</configuration>

